<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://as1.ftcdn.net/jpg/02/07/82/88/500_F_207828890_eSO13cJ8qPTAWGdmfSV8bDYiMQuErGjL.jpg" width="200px" height="200px" alt="prueba">
      </div>
      <div class="row">
        <button type="button" name="button" class="btn btn-success col-lg-4 col-xs-12">Cargar Datos</button>
      </div>
      <div class="row">
        <table class="table-striped col-lg-12 col-xs-12">
          <header>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </header>
          <body>
            <tr>
              <td>1</td>
              <td>Elena</td>
              <td>Alto del bosque</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Otro</td>
              <td>Prueba</td>
            </tr>
          </body>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2:{
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
